<a href="https://colab.research.google.com/github/fluffymouses/fluffymouses/blob/main/lab3/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 3

##Обработка пропущенных значений

Обработайте пропущенные значения:


* Удалите пропущенные значения
* Заполните при помощи медианы, среднего для числовых значений
* Заполните при помощи моды для категориальных значений
* Интерполируйте
Выведите статистку после каждого метода и объясните

In [3]:
pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.16)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)

In [4]:
! mkdir ~/.kaggle

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
!cp /content/drive/MyDrive/kaggle.json ~/.kaggle/kaggle.json
! kaggle datasets download arnabchaki/data-science-salaries-2023

Downloading data-science-salaries-2023.zip to /content
  0% 0.00/25.4k [00:00<?, ?B/s]
100% 25.4k/25.4k [00:00<00:00, 40.6MB/s]

In [7]:
! unzip data-science-salaries-2023.zip

Archive:  data-science-salaries-2023.zip
  inflating: ds_salaries.csv

In [8]:

import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('ds_salaries.csv')
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

In [9]:
#Удаление
df_cleaned = df.dropna()

df_cleaned

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

In [10]:
import pandas as pd
import numpy as np
def create_holes(dataframe, column_name, hole_percentage = 10):

    if hole_percentage < 0 or hole_percentage > 100:
        raise ValueError("Процент дырявости должен быть в диапазоне от 0 до 100.")

    dataframe_with_holes = dataframe.copy()
    num_holes = int(len(dataframe) * (hole_percentage / 100))
    hole_indices = np.random.choice(len(dataframe), num_holes, replace=False)
    dataframe_with_holes.loc[hole_indices, column_name] = np.nan

    return dataframe_with_holes


df = create_holes(df, 'Rape')
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,Rape
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L,NaN
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S,NaN
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S,NaN
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M,NaN
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L,NaN
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L,NaN
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S,NaN
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L,NaN
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L,NaN

In [12]:
#Заполнение при помощи медианы
df_filled_mean = df.fillna(df['salary'].mean())

df_filled_mean

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,Rape
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L,190695.571771
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S,190695.571771
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S,190695.571771
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M,190695.571771
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M,190695.571771
...,...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L,190695.571771
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L,190695.571771
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S,190695.571771
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L,190695.571771
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L,190695.571771

In [14]:
#Заполнение при помощи среднего
df_filled_median = df.fillna(df["salary"].median())

df_filled_median

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,Rape
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L,138000.0
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S,138000.0
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S,138000.0
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M,138000.0
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M,138000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L,138000.0
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L,138000.0
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S,138000.0
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L,138000.0
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L,138000.0

In [16]:
#Заполнение при помощи моды

# df.Rape= df.Rape.astype("int")
df_filled_mode = df.fillna(df["job_title"].mode()[0])
"""
Мода возвращает объект Series, так как
значений моды может быть несколько
"""
df_filled_mode

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,Rape
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L,Data Engineer
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S,Data Engineer
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S,Data Engineer
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M,Data Engineer
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M,Data Engineer
...,...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L,Data Engineer
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L,Data Engineer
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S,Data Engineer
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L,Data Engineer
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L,Data Engineer

In [17]:
#Заполнение при помощи моды
df_filled_mode = df.fillna(df["salary"].mode()[0])
"""
Мода возвращает объект Series, так как
значений моды может быть несколько
"""
df_filled_mode

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,Rape
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L,100000.0
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S,100000.0
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S,100000.0
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M,100000.0
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M,100000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L,100000.0
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L,100000.0
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S,100000.0
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L,100000.0
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L,100000.0

In [19]:
#Заполнение при помощи моды
df_filled_mode = df.fillna(df["job_title"].mode()[0])
"""
Мода возвращает объект Series, так как
значений моды может быть несколько
"""
df_filled_mode

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,Rape
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L,Data Engineer
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S,Data Engineer
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S,Data Engineer
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M,Data Engineer
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M,Data Engineer
...,...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L,Data Engineer
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L,Data Engineer
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S,Data Engineer
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L,Data Engineer
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L,Data Engineer

In [20]:
#Заполнение при помощи интерполяции
df_interpolated = df["salary"].interpolate(method ='linear')

df_interpolated.describe()

count    3.755000e+03
mean     1.906956e+05
std      6.716765e+05
min      6.000000e+03
25%      1.000000e+05
50%      1.380000e+05
75%      1.800000e+05
max      3.040000e+07
Name: salary, dtype: float64

**Объясните**
Все методы изменилм стандартное отклонение. Заполнение модой уменьшило число свыше 75 квантиля, медиана его увеличила

##Поиск выбросов и аномалий

**Те, кто выполняет задания со * делают поиск выбросов с помощью написанного ранее класса**

Найти выбросы по числовой переменной (использовать метод основанный на среднем и на межквартильном размахе). Объясните результат

Вывести статистику с выбросами и без. Сравните и объясните результат

In [21]:
#затем измененную
#Методом среднего
mean_data = df["salary"].mean()
maximum = mean_data * 2
# res = []
# for item in df["salary"]:
#   if abs(item - mean_data) < maximum:
#     res.append(item)

df_mean = df[abs((df["salary"] - mean_data) < maximum)]
df_mean["salary"].describe()

count      3693.000000
mean     140234.734633
std       63900.907909
min        6000.000000
25%       99750.000000
50%      136000.000000
75%      179400.000000
max      510000.000000
Name: salary, dtype: float64

In [22]:
#При помощи межквартильного размаха
Q1 =  df["salary"].quantile(0.25)
Q3 = df["salary"].quantile(0.75)
IQR = Q3 - Q1
df_IQR = df[(df["salary"] > (Q1-1.5*IQR )) & (df["salary"] < (Q3+1.5*IQR))]
df_IQR["salary"].describe()

count      3630.000000
mean     136573.012397
std       57577.695207
min        6000.000000
25%       97812.500000
50%      135000.000000
75%      175000.000000
max      299500.000000
Name: salary, dtype: float64

In [ ]:
#Статистика и объяснение

**Объяснения**
Отсечение по межквартильному размаху оставляет меньше значений и сильнее срезает максимум, чем через среднее значение.

##Дубликаты

Проверьте датафрейм на дубликаты и удалите их, если дублей нет - создайте.

In [23]:
#Проверка на дубли
df = pd.read_csv('ds_salaries.csv')
dupls = df.duplicated()

count = 0
for i in dupls:
  if (i): count +=1

count

1171

In [24]:

df_with_dupls = pd.concat((df, df.loc[0:100]))
dupls = df_with_dupls.duplicated()
count = 0
for i in dupls:
  if (i): count +=1

count

1272

In [26]:
#Удаление дублей
df_no_duplicates = df_with_dupls.drop_duplicates()
dupls = df_no_duplicates.duplicated()

count = 0
for i in dupls:
  if (i): count +=1
count

0

## Преобразование признаков

Масштабируйте числовые признаки через MinMaxScaler, StandardScaler

In [29]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Creating instances

num_features = df.select_dtypes(include=['int']).columns
scaler_minmax = MinMaxScaler()
min_max_scaler = df.copy()
min_max_scaler[num_features] = scaler_minmax.fit_transform(df[num_features])
min_max_scaler["salary_in_usd"].unique()

array([0.18143584, 0.05589973, 0.04578437, ..., 0.05223347, 0.9145814 ,
       0.20125745])

In [28]:
standard_scaler = StandardScaler()
st_scaler = df.copy()
st_scaler[num_features] = standard_scaler.fit_transform(df[num_features])
st_scaler["salary_in_usd"].unique()

array([-0.82039118, -1.70618745, -1.77756251, ..., -1.73205694,
        4.35276247, -0.68052777])

In [30]:
df_scaled = df.copy()
df_scaled["salary_in_usd"] = st_scaler["salary_in_usd"]

df_scaled

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,-0.820391,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,-1.706187,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,-1.777563,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,0.593676,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,-0.278686,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,4.352762,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,0.213009,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,-0.516603,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,-0.595909,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,-0.680528,IN,50,IN,L

Масштабируйте категориальные признаки через OneHotEncoder

In [31]:
from sklearn.preprocessing import OneHotEncoder

# Create an instance of OneHotEncoder
encoder = OneHotEncoder()
df["job_title "] = df["job_title"].astype("category")
df["salary_currency"] = df["salary_currency"].astype("category")
category_col = df.select_dtypes(include=['category']).columns
encoder = OneHotEncoder()
df_cat_encoded = pd.get_dummies(df, columns=category_col, drop_first=True)
encoded_features = encoder.fit_transform(df[category_col])
encoded_columns = encoder.get_feature_names_out(category_col)
encoded_columns

array(['salary_currency_AUD', 'salary_currency_BRL',
       'salary_currency_CAD', 'salary_currency_CHF',
       'salary_currency_CLP', 'salary_currency_CZK',
       'salary_currency_DKK', 'salary_currency_EUR',
       'salary_currency_GBP', 'salary_currency_HKD',
       'salary_currency_HUF', 'salary_currency_ILS',
       'salary_currency_INR', 'salary_currency_JPY',
       'salary_currency_MXN', 'salary_currency_PLN',
       'salary_currency_SGD', 'salary_currency_THB',
       'salary_currency_TRY', 'salary_currency_USD',
       'job_title _3D Computer Vision Researcher',
       'job_title _AI Developer', 'job_title _AI Programmer',
       'job_title _AI Scientist', 'job_title _Analytics Engineer',
       'job_title _Applied Data Scientist',
       'job_title _Applied Machine Learning Engineer',
       'job_title _Applied Machine Learning Scientist',
       'job_title _Applied Scientist',
       'job_title _Autonomous Vehicle Technician',
       'job_title _Azure Data Engineer', 'job_title _BI Analyst',
       'job_title _BI Data Analyst', 'job_title _BI Data Engineer',
       'job_title _BI Developer', 'job_title _Big Data Architect',
       'job_title _Big Data Engineer', 'job_title _Business Data Analyst',
       'job_title _Business Intelligence Engineer',
       'job_title _Cloud Data Architect',
       'job_title _Cloud Data Engineer',
       'job_title _Cloud Database Engineer',
       'job_title _Compliance Data Analyst',
       'job_title _Computer Vision Engineer',
       'job_title _Computer Vision Software Engineer',
       'job_title _Data Analyst', 'job_title _Data Analytics Consultant',
       'job_title _Data Analytics Engineer',
       'job_title _Data Analytics Lead',
       'job_title _Data Analytics Manager',
       'job_title _Data Analytics Specialist',
       'job_title _Data Architect', 'job_title _Data DevOps Engineer',
       'job_title _Data Engineer',
       'job_title _Data Infrastructure Engineer', 'job_title _Data Lead',
       'job_title _Data Management Specialist', 'job_title _Data Manager',
       'job_title _Data Modeler', 'job_title _Data Operations Analyst',
       'job_title _Data Operations Engineer',
       'job_title _Data Quality Analyst',
       'job_title _Data Science Consultant',
       'job_title _Data Science Engineer', 'job_title _Data Science Lead',
       'job_title _Data Science Manager',
       'job_title _Data Science Tech Lead', 'job_title _Data Scientist',
       'job_title _Data Scientist Lead', 'job_title _Data Specialist',
       'job_title _Data Strategist', 'job_title _Deep Learning Engineer',
       'job_title _Deep Learning Researcher',
       'job_title _Director of Data Science', 'job_title _ETL Developer',
       'job_title _ETL Engineer', 'job_title _Finance Data Analyst',
       'job_title _Financial Data Analyst', 'job_title _Head of Data',
       'job_title _Head of Data Science',
       'job_title _Head of Machine Learning',
       'job_title _Insight Analyst', 'job_title _Lead Data Analyst',
       'job_title _Lead Data Engineer', 'job_title _Lead Data Scientist',
       'job_title _Lead Machine Learning Engineer',
       'job_title _ML Engineer', 'job_title _MLOps Engineer',
       'job_title _Machine Learning Developer',
       'job_title _Machine Learning Engineer',
       'job_title _Machine Learning Infrastructure Engineer',
       'job_title _Machine Learning Manager',
       'job_title _Machine Learning Research Engineer',
       'job_title _Machine Learning Researcher',
       'job_title _Machine Learning Scientist',
       'job_title _Machine Learning Software Engineer',
       'job_title _Manager Data Management',
       'job_title _Marketing Data Analyst',
       'job_title _Marketing Data Engineer', 'job_title _NLP Engineer',
       'job_title _Power BI Developer',
       'job_title _Principal Data Analyst',
       'job_title _Principal Data Architect',
       'job_title _Principal Data Engineer',
       'job_title _Principal Data Scientist',
       'job_title _Principal Machine Learning Engineer',
       'job_title _Product Data Analyst',
       'job_title _Product Data Scientist',
       'job_title _Research Engineer', 'job_title _Research Scientist',
       'job_title _Software Data Engineer',
       'job_title _Staff Data Analyst', 'job_title _Staff Data Scientist'],
      dtype=object)

In [32]:
df_cat_encoded

,work_year,experience_level,employment_type,job_title,salary,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,...,job_title _Principal Data Engineer,job_title _Principal Data Scientist,job_title _Principal Machine Learning Engineer,job_title _Product Data Analyst,job_title _Product Data Scientist,job_title _Research Engineer,job_title _Research Scientist,job_title _Software Data Engineer,job_title _Staff Data Analyst,job_title _Staff Data Scientist
0,2023,SE,FT,Principal Data Scientist,80000,85847,ES,100,ES,L,...,0,1,0,0,0,0,0,0,0,0
1,2023,MI,CT,ML Engineer,30000,30000,US,100,US,S,...,0,0,0,0,0,0,0,0,0,0
2,2023,MI,CT,ML Engineer,25500,25500,US,100,US,S,...,0,0,0,0,0,0,0,0,0,0
3,2023,SE,FT,Data Scientist,175000,175000,CA,100,CA,M,...,0,0,0,0,0,0,0,0,0,0
4,2023,SE,FT,Data Scientist,120000,120000,CA,100,CA,M,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,412000,US,100,US,L,...,0,0,0,0,0,0,0,0,0,0
3751,2021,MI,FT,Principal Data Scientist,151000,151000,US,100,US,L,...,0,1,0,0,0,0,0,0,0,0
3752,2020,EN,FT,Data Scientist,105000,105000,US,100,US,S,...,0,0,0,0,0,0,0,0,0,0
3753,2020,EN,CT,Business Data Analyst,100000,100000,US,100,US,L,...,0,0,0,0,0,0,0,0,0,0
3754,2021,SE,FT,Data Science Manager,7000000,94665,IN,50,IN,L,...,0,0,0,0,0,0,0,0,0,0

##Задание для гениев*


Реализовать расчет корреляции Спирмана

In [ ]:
#Функция по расчету тут

In [ ]:
#Пример использования тут и объяснение принципа работы

###Пример реализации